/* * {
  padding: 0;
  margin: auto0;
}

.box {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid red;
  margin: 30px auto;
}

.box .item {
  background-color: green;
  color: #fff;
  padding: 10px;
  width: 100px;
}

.item:nth-child(2) {
  background: blueviolet;
  position: fixed;
  top: 100px;
  left: 20px;
  z-index: 999999;
}

.item:nth-child(3) {
  background: red;
  position: relative;
} */

.checkbox input {
  display: none;
}
.checkbox {
  width: 300px;
  margin: 30px auto;
}

.checkbox label {
  display: block;
  padding: 5px 0;
  position: relative;
}

.checkbox span::before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  border: 1px solid green;
  float: left;
  margin-right: 5px;
}

.checkbox span::after {
  content: "";
  display: block;
  width: 7px;
  height: 3px;
  border: green solid;
  border-width: 0 0 2px 2px;
  rotate: -45deg;
  position: absolute;
  top: 10px;
  left: 4px;
  display: none;
}

.checkbox input:checked + span::after {
  display: block;
}
