/* ------------------------
Bài 1
------------------------ */
#Ex01 .background {
  background-color: #cccccc;
  width: 635px;
  height: 565px;
}

#Ex01 .submit {
  background-color: #4cb050;
  color: white;
  padding: 15px;
  width: 580px;
  height: 50px;
  margin-top: 40px;
  margin-left: 25px;
  border: none;
  border-radius: 4px;
}

#Ex01 .background h2 {
  font-size: 35px;
  font-family: system-ui;
  margin-left: 15px;
  padding-top: 10px;
}
#Ex01 .background p {
  font-family: system-ui;
  padding-right: 100px;
  padding-left: 15px;
}

#Ex01 .background label {
  font-family: system-ui;
}

#Ex01 select {
  width: 85%;
  height: 65%;
  padding: 8px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: gray;
}

#Ex01 form > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 25px;
  margin-left: 10px;
}

#Ex01 form input {
  width: 83%;
  height: 60%;
  border: none;
  margin-top: 1%;
  border-radius: 3px;
  padding: 3px;
}
/* 
------------------------
Bài 2
------------------------ */
#Ex02 table {
  width: 790px;
  height: 1525px;
  background-color: #d2deec;
  border-collapse: collapse;
}

#Ex02 td {
  border: 4px solid black;
  font-size: 85px;
  font-weight: bold;
  font-family: system-ui;
  text-align: center;
}

#Ex02 .plus {
  text-align: right;
  padding: none;
  font-weight: normal;
  background-color: white;
  height: 15%;
  padding-right: 45px;
}
/* 
------------------------
Bài 3
------------------------ */
#Ex03 label {
  font-family: monospace;
  font-size: 17px;
}

#Ex03 td:first-child {
  width: 150px;
}

#Ex03 input,
select {
  border: 2px solid #869bb0;
}

#Ex03 .buttons input {
  border-radius: 2px;
}
/* 
------------------------
Bài 4
------------------------ */
#Ex04 .table-ex04 {
  background-color: #cccccc;
  width: 635px;
  height: 465px;
  font-family: system-ui;
}

#Ex04 h2 {
  font-size: 25px;
  padding-top: 10px;
  padding-left: 10px;
}

#Ex04 input[type="text"] {
  width: 200px;
  padding: 6px;
  border: none;
  border-radius: 4px;
  margin: 10px;
}

#Ex04 .message {
  width: 500px;
  height: 180px;
  padding: 6px;
  resize: none;
  font-family: inherit;
  border-radius: 4px;
  margin-left: 10px;
}

#Ex04 button {
  background-color: #656565;
  color: white;
  border-radius: 4px;
  padding: 7px;
  width: 120px;
  height: 30px;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 15px;
}
