* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 62.5%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.visual-section {
  position: relative;
  width: 450px;
  height: 450px;
}

.img {
  position: relative;
  width: 100%;
  height: 100%;
}

.timeline-item {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: 100px;
  margin-top: 15px;
}

.timeline-axis {
  position: relative;
  width: 20px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  height: 80px;
}

.timeline-axis::after {
  content: "";
  width: 1px;
  background: rgba(128, 128, 128, 0.434);
  position: absolute;
  top: 25px;
  bottom: -20px;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
}

.axis-dot {
  background: #3e8b7ed5;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  margin-top: 5px;
  top: auto;
  left: auto;
}

.axis-dot::before {
  content: "";
  position: absolute;
  background: rgba(42, 157, 144, 0.186);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  z-index: -1;
  top: -5px;
  left: -5px;
}

.timeline-body {
  flex: 1;
  text-align: right;
  margin: 0;
  padding-right: 30px;
  padding-top: 0px;
  transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  will-change: transform;
}

.timeline-section {
  position: absolute;
  top: 20%;
  left: 20%;
}

.item-badge {
  display: inline-block;
  margin-top: 10px;
  padding: 3px 8px;
  background-color: rgba(128, 128, 128, 0.259);
  border-radius: 13px;
  font-weight: 500;
  cursor: pointer;
}
.item-badge:hover {
  background-color: #a26f5a;
  color: #fff;
}

.timeline-body h2 {
  font-size: 17px;
  margin-bottom: 10px;
  font-family: "Space Grotesk", sans-serif;
}

.timeline-body p {
  color: gray;
}

.item-year {
  flex: 1;
  text-align: left;
  padding-left: 15px;
  padding-top: 4px;
  color: gray;
  font-size: 11px;
  position: relative;
  top: auto;
  left: auto;
  transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  will-change: transform;
}

.timeline-item:last-child .timeline-axis::after {
  display: none;
}

.img1 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 300px;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

.img2 {
  position: absolute;
  top: 40%;
  left: 60%;
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

.timeline-body,
.item-year {
  z-index: 10;
}

.item-year::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.timeline-item:has(.item-year:hover) .item-year {
  transform: translateX(calc(-100% - 40px));
  text-align: right;
}

.timeline-item:has(.item-year:hover) .item-year::after {
  transform: translateX(calc(100% + 40px));
}

.timeline-item:has(.item-year:hover) .timeline-body {
  transform: translateX(calc(100% + 40px));
  text-align: left;
}
