* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.form-container {
  text-align: center;
  max-width: 90rem;
  height: 50rem;
  position: relative;
}

.form-header {
  margin-top: 40px;
}

.form-header h3 {
  font-size: 3.5rem;
  font-weight: 650;
}
.form-header p {
  margin-top: 1.5rem;
  color: rgb(80, 80, 80);
}
.form-body {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.form-body input,
select {
  width: 400px;
  height: 50px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 0px 20px;
  font-size: 15px;
}
.form-input {
  position: relative;
}
.form-input label {
  position: absolute;
  top: 30%;
  left: 5%;
  color: #a3a4a5;
  transition: all 0.2s ease;
}

.form-message {
  grid-column: span 2;
  position: relative;
}

.form-body textarea {
  width: 83rem;
  height: 11.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  resize: none;
  padding: 14px 20px;
}

.form-message label {
  position: absolute;
  top: 10%;
  left: 2%;
  color: #a3a4a5;
  transition: all 0.2s ease;
}

.form-button button {
  margin-top: 25px;
  width: 12rem;
  height: 4rem;
  border-radius: 30px;
  background: #4c77d8;
  color: #fff;
  font-weight: bold;
  border: none;
  transition: all 0.2s ease;
}

.form-button button:hover {
  background: #3b65c6;
  transform: scale(1.05);
}

select {
  appearance: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23a3a4a5'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1.5rem center;
  background-size: 1.5rem;
}

.form-input input:focus + label,
.form-input input:not(:placeholder-shown) + label,
.form-message textarea:focus + label,
.form-message textarea:not(:placeholder-shown) + label {
  top: 0.1rem;
  font-size: 1.2rem;
  color: #2a5dd3e7;
}

.form-input select:focus + label,
.form-input select:valid + label {
  top: 0.2rem;
  font-size: 1.2rem;
  color: #2a5dd3e7;
}

.form-input input,
.form-input select,
.form-message text {
  padding-top: 10px;
}

.form-body input:focus,
.form-body select:focus,
.form-body textarea:focus,
.form-body select:valid {
  border-color: #3e4bc3;
  border-width: 2px;
  box-shadow: 0 0 0 2px rgba(76, 119, 216, 0.1);
  background-color: #fff;
  outline: none;
}
